.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.756836;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.893000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.897000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249229,-0.019615,0.019615,0.249229,0,0);-ms-transform:matrix(0.249229,-0.019615,0.019615,0.249229,0,0);-webkit-transform:matrix(0.249229,-0.019615,0.019615,0.249229,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls9{letter-spacing:-1.677704px;}
.ls8{letter-spacing:-1.059602px;}
.ls6{letter-spacing:-0.883002px;}
.ls7{letter-spacing:-0.794702px;}
.ls2{letter-spacing:-0.727200px;}
.ls5{letter-spacing:-0.637726px;}
.ls3{letter-spacing:-0.565600px;}
.lsa{letter-spacing:-0.529801px;}
.ls0{letter-spacing:-0.363600px;}
.ls4{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.363600px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-0.363600px;}
.ws4{word-spacing:0.000000px;}
.ws0{word-spacing:0.363600px;}
.wsa{word-spacing:0.529801px;}
.ws3{word-spacing:0.565600px;}
.ws5{word-spacing:0.637726px;}
.ws2{word-spacing:0.727200px;}
.ws7{word-spacing:0.794702px;}
.ws6{word-spacing:0.883002px;}
.ws8{word-spacing:1.059602px;}
.ws9{word-spacing:1.677704px;}
.fc1{color:rgb(111,68,27);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:24.240000px;}
.fs0{font-size:36.360000px;}
.fs4{font-size:44.150102px;}
.fs1{font-size:56.560000px;}
.fs3{font-size:63.772594px;}
.yb{bottom:-19.080600px;}
.y0{bottom:0.000000px;}
.ya{bottom:115.940700px;}
.y9{bottom:145.749800px;}
.y8{bottom:159.384800px;}
.y7{bottom:173.019800px;}
.y6{bottom:186.654800px;}
.y5{bottom:200.289800px;}
.y4{bottom:213.924800px;}
.y3{bottom:227.559800px;}
.y2{bottom:241.194800px;}
.y1{bottom:260.556500px;}
.y18{bottom:350.557700px;}
.y19{bottom:358.693100px;}
.y16{bottom:363.440000px;}
.y17{bottom:378.035900px;}
.y13{bottom:379.413800px;}
.y14{bottom:381.048300px;}
.y15{bottom:393.850100px;}
.y11{bottom:394.079500px;}
.y10{bottom:409.784300px;}
.y12{bottom:410.972300px;}
.yf{bottom:425.165100px;}
.ye{bottom:441.008900px;}
.yd{bottom:456.782600px;}
.yc{bottom:480.987000px;}
.h4{height:17.836758px;}
.h2{height:29.088000px;}
.h6{height:32.406175px;}
.h3{height:45.248000px;}
.h5{height:46.553994px;}
.h0{height:680.315000px;}
.h1{height:680.500000px;}
.w0{width:481.890000px;}
.w1{width:482.000000px;}
.x0{left:0.000000px;}
.x2{left:5.281100px;}
.x4{left:79.488600px;}
.x5{left:82.267300px;}
.x6{left:84.155900px;}
.x7{left:91.926800px;}
.x3{left:94.319500px;}
.x8{left:95.581500px;}
.x1{left:108.746500px;}
.xa{left:112.438800px;}
.xb{left:133.207600px;}
.xe{left:152.192600px;}
.xf{left:255.562400px;}
.xc{left:295.869300px;}
.xd{left:298.134400px;}
.x9{left:310.224800px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls9{letter-spacing:-2.236938pt;}
.ls8{letter-spacing:-1.412803pt;}
.ls6{letter-spacing:-1.177336pt;}
.ls7{letter-spacing:-1.059602pt;}
.ls2{letter-spacing:-0.969600pt;}
.ls5{letter-spacing:-0.850301pt;}
.ls3{letter-spacing:-0.754133pt;}
.lsa{letter-spacing:-0.706402pt;}
.ls0{letter-spacing:-0.484800pt;}
.ls4{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.484800pt;}
.ws1{word-spacing:-0.484800pt;}
.ws4{word-spacing:0.000000pt;}
.ws0{word-spacing:0.484800pt;}
.wsa{word-spacing:0.706402pt;}
.ws3{word-spacing:0.754133pt;}
.ws5{word-spacing:0.850301pt;}
.ws2{word-spacing:0.969600pt;}
.ws7{word-spacing:1.059602pt;}
.ws6{word-spacing:1.177336pt;}
.ws8{word-spacing:1.412803pt;}
.ws9{word-spacing:2.236938pt;}
.fs2{font-size:32.320000pt;}
.fs0{font-size:48.480000pt;}
.fs4{font-size:58.866802pt;}
.fs1{font-size:75.413333pt;}
.fs3{font-size:85.030126pt;}
.yb{bottom:-25.440800pt;}
.y0{bottom:0.000000pt;}
.ya{bottom:154.587600pt;}
.y9{bottom:194.333067pt;}
.y8{bottom:212.513067pt;}
.y7{bottom:230.693067pt;}
.y6{bottom:248.873067pt;}
.y5{bottom:267.053067pt;}
.y4{bottom:285.233067pt;}
.y3{bottom:303.413067pt;}
.y2{bottom:321.593067pt;}
.y1{bottom:347.408667pt;}
.y18{bottom:467.410267pt;}
.y19{bottom:478.257467pt;}
.y16{bottom:484.586667pt;}
.y17{bottom:504.047867pt;}
.y13{bottom:505.885067pt;}
.y14{bottom:508.064400pt;}
.y15{bottom:525.133467pt;}
.y11{bottom:525.439333pt;}
.y10{bottom:546.379067pt;}
.y12{bottom:547.963067pt;}
.yf{bottom:566.886800pt;}
.ye{bottom:588.011867pt;}
.yd{bottom:609.043467pt;}
.yc{bottom:641.316000pt;}
.h4{height:23.782344pt;}
.h2{height:38.784000pt;}
.h6{height:43.208233pt;}
.h3{height:60.330667pt;}
.h5{height:62.071992pt;}
.h0{height:907.086667pt;}
.h1{height:907.333333pt;}
.w0{width:642.520000pt;}
.w1{width:642.666667pt;}
.x0{left:0.000000pt;}
.x2{left:7.041467pt;}
.x4{left:105.984800pt;}
.x5{left:109.689733pt;}
.x6{left:112.207867pt;}
.x7{left:122.569067pt;}
.x3{left:125.759333pt;}
.x8{left:127.442000pt;}
.x1{left:144.995333pt;}
.xa{left:149.918400pt;}
.xb{left:177.610133pt;}
.xe{left:202.923467pt;}
.xf{left:340.749867pt;}
.xc{left:394.492400pt;}
.xd{left:397.512533pt;}
.x9{left:413.633067pt;}
}
